<div class="root-container">
    <div class="image-container">
        <div class="logo-image"></div>
    </div>
    <div class="header-container">
        <h3>Get started with Agents.</h3>
        <p class="text-container">
            Placerat morbi varius interdum adipiscing semper facilisis maecenas viverra tellus. Amet pellentesque a viverra ultrices urna. Massa semper pulvinar sem volutpat quis enim in est. Elementum ac tortor consequat vel id cursus. Ac id in tortor gravida facilisi nibh. Condimentum vulputate ligula imperdiet non commodo diam. Mauris at aliquam enim nunc mi arcu.
Nunc amet et vitae sapien eget non. 
        </p>
    </div>
        <div class="buttons-container">
            <div class="buttons">
                <button class="explore-btn" (click)="routeToCreateBot()"><mat-icon class="add" svgIcon="spark"></mat-icon> Build an agent</button>
                <button class="configure-btn" (click)="routeToPrebuiltBot()"><mat-icon class="add" svgIcon="spark-shine"></mat-icon> Explore pre-built agents</button>
              </div>
        </div>
</div>

