.root-container {
    left: 0;
    right: 0;
    padding: 2% 1%;
    height: 80%;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    .max-width-container {
        max-width: 1500px;
        width: 100%;
    }

    .back-button {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: rgba(92, 95, 97, 0.75);
        background: white !important;
    }

    .title {
        padding: 1%;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
        color: #5C5F61;

    }

    .sub-title {

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #161A1D;
        opacity: 0.8;
        padding-left: 5%;
        padding-top: 6%;

    }

    .stepper-container {
        display: flex;
        flex-direction: row;
        padding-left: 1%;
    }

    .stepper-section {
        width: 30%;
        background: #ECF3FE;
        border-radius: 16px;
        min-height: 500px;
        max-height: 100%;
    }

    .stepper-content-section {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .disable-button {
        background: #d0d3d7;
        border: 1px solid #ebeced;
        color: #6e6969;
    }

    .enabled-button {
        background: #4285F4;
        border: 1px solid #4285F4;
    }

    .green-enabled-button {
        background: #34A853;
        border: 1px solid #34A853;
    }

    .stepper-button {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        letter-spacing: 0.4px;
        color: #FFFFFF;
        padding: 19px 13px;
        border-radius: 40px;

    }

    .complete-button-width {
        width: 100% !important;
    }
}

.side-stepper {
    background: #ecf3fe;

    .header {

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #161A1D;
    }
}


::ng-deep .side-stepper .mat-vertical-content {
    padding: 0;
}

::ng-deep .side-stepper .mat-step-header .mat-step-icon-selected {
    background: #4285F4;
}

::ng-deep .side-stepper .mat-step-icon-state-edit {
    background: #4285F4;
}

.content-section {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid #DDE6F6;
    border-radius: 20px;
    padding: 2%;
    width: 100%;
    height: fit-content;
    margin-left: 1rem;
    margin-right: 5rem;


    .content-title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #161A1D;
    }

    form {
        display: flex;
        flex-direction: column;
        padding-top: 1%;
        gap: 15px;
    }
}

.first-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2%;
}

.app-new-ticket__footer__image-upload__images {
    display: flex;
    flex-direction: row;
    width: -webkit-fill-available;
    gap: 2%;

    mat-form-field {
        width: 100%;
    }
}

.app-new-ticket__footer__image-upload__images__image {
    display: flex;
    flex-direction: row;
    padding-top: 2%;
}

.completed-steps {
    display: flex;
    flex-direction: row;
    padding-left: 0.5%;
    padding-top: 1%;
    max-width: 1280px;

    ::ng-deep .mat-vertical-stepper-content {
        visibility: visible !important;
        height: 100% !important;
    }

    ::ng-deep .mat-vertical-content {
        padding: 0;
    }

    ::ng-deep .mat-step-header .mat-step-icon-selected {
        background: #4285F4;
    }

    ::ng-deep .mat-step-icon-state-edit {
        background: #4285F4;
    }
}

.left-container {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #f3f5f8;
    padding: 1%;
    border-radius: 21px;

    .title-container {
        display: flex;
        flex-direction: column;
        padding: 5%;
    }

    .title {

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 150.7%;
        text-align: center;
        color: #1F1F1F;


    }

    .sub-title {

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 150.7%;
        text-align: center;
        color: #5C5F61;

    }
}

.right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.down-arrow {
    display: flex;
    flex-direction: row;
    padding: 2%;
    padding-top: 0;
    gap: 2%;
    width: 12%;
    justify-content: center;
}

.final-step-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 2%;
    padding-top: 0;
    padding-bottom: 0;
    gap: 2%;
    width: 100%;

    .number-container {
        width: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .complete-button {
            border-radius: 21px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #FFFFFF;
            opacity: 0.8;
            background: #4285F4;
        }
    }

    .step-name {
        margin-top: 0.5rem;
        text-align: center;
    }

    .message-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2%;
        width: 100%;
    }

    .bot-message {
        align-items: center;
        color: #767676;
        flex-direction: row;
        margin-bottom: 10px;
        width: 100%;

        .generating-text {
            font-family: "Google Sans", sans-serif !important;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: normal;
            letter-spacing: 0.4px;
            color: #3E4143;
            background: linear-gradient(92.1deg, #bdd1f3 19.16%, rgba(199, 183, 245, 0.9) 79%, rgba(235, 165, 158, 0.9) 135.24%), linear-gradient(272.04deg, rgba(158, 188, 237, 0.7) 14.93%, rgba(158, 188, 237, 0) 104.51%);
            padding: 4px;
            padding-inline: 2%;
            border-bottom-left-radius: 13px;
            border-bottom-right-radius: 13px;
        }

        .bot-message-wrapping-container {
            padding: 1rem;
            border: 0.5px solid #dfe0e2;
            border: 1px solid #E4EDFD;
            border-radius: 0px 20px 20px 0px;
            padding: 2% 1%;
            background-color: #F6F9FE;
            color: #161A1D;

            .bot-message-content {
                margin-left: 20px;
                line-height: 2rem;
                text-wrap: wrap;
                width: 95%;
                word-break: break-word;
                max-width: 100%;
                margin-top: 12px;
            }

            .tutorial_resource {
                margin-top: 0.5rem;
                font-weight: bold;
            }
        }
    }

    .button-container {
        margin-top: 10px;
        width: 20%;
    }
}

.my-icon {
    margin-right: 0.5rem;
}

.firebase-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    justify-content: center;

    .step-container-blue {
        background: #C6DAFC;
    }

    .step-container-red {
        background: #EF8F8A;
    }

    .step-container-yellow {
        background: #FEF2CD;
    }

    .step-container-green {
        background: #B2DDC1;
    }

    .step-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 15px;
        padding: 20px;

        .heading {
            display: flex;
            box-sizing: border-box;
            border-radius: 10px;
            font-family: "Google Sans", sans-serif !important;
            font-style: normal;
            font-weight: 400;
            font-size: 16.2px;
            line-height: 140.8%;
            letter-spacing: -0.04em;
            color: #161A1D;
            gap: 10px;
        }

        .red {
            background: rgba(234, 67, 53, 0.3);
        }

        .blue {
            background: #91B8F9;
        }

        .yellow {
            background: #FDE7A5;
        }

        .green {
            background: #80C895;
        }

        .step-container-child {
            box-sizing: border-box;
            border-radius: 5px;
            padding: 30px;
            justify-content: center;
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .sub-text {
                font-weight: 400;
                font-size: 12px;
                line-height: 140.8%;
                /* identical to box height, or 17px */
                letter-spacing: -0.04em;
                color: #3C3E40;
            }
        }
    }

    .cost-container-height {
        height: 250px;
    }

    .timer {
        font-family: "Google Sans", sans-serif !important;
        font-style: normal;
        font-weight: 400;
        font-size: 14.4px;
        line-height: 140.8%;
        /* identical to box height, or 20px */
        letter-spacing: -0.04em;
        /* Black */
        color: #161A1D;
        display: flex;
        justify-content: center;
        gap: 10px;
        padding-top: 10px;
    }

    .blue-border {
        border-top: 5px solid #4285F4;
    }

    .yellow-border {
        border-top: 5px solid #FBBC05;
    }

    .green-border {
        border-top: 5px solid #34A853;
    }

    .red-border {
        border-top: 5px solid #DB4437;
    }

    .step-parent-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 30%;
    }
}

.step-2-content {
    background: rgba(242, 247, 254, 0.8);
    border-radius: 15px;
    padding: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.estimate {
    display: flex;
    flex-direction: row;
    width: inherit;
    font-family: "Google Sans", sans-serif !important;
    justify-content: flex-start;
    padding: 20px;


    .estimate-label {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140.8%;
        letter-spacing: -0.04em;
        color: #161A1D;
        width: 80%;
        display: flex;
        gap: 10px;
    }

    .estimate-value {
        font-style: normal;
        font-weight: 500;
        font-size: 19px;
        line-height: 140.8%;
        letter-spacing: -0.04em;
        color: #161A1D;
        display: flex;
        align-items: flex-start;
    }
}

.button-container {
    justify-content: end;
    display: flex;
    gap: 1%;
}

.back-button {
    border: 1px solid rgba(92, 95, 97, 0.6) !important;
    color: rgba(92, 95, 97, 0.6) !important;
}

.upload-button {
    width: 100%;
    border-radius: 6px;
    border: 1px dashed blue;
    box-sizing: border-box;
    background: #ECF3FE;
    border: 2px dashed #4285F4;
    border-radius: 16px;
    padding-top: 8%;
    padding-bottom: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .button-title {

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #161A1D;

    }

    .button-sub-title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #5C5F61;
    }

    mat-icon {
        color: #4285F4;
        font-size: 62px !important;
        height: 62px !important;
        width: 62px !important;
    }

}