
@use '@angular/material' as mat;
@include mat.core();

$agent-smithy-kioskui-light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

:root {
  --body-background-color: #131314;

  --primary-btn-color: #A8C7FA;
  --primary-btn-text-color: #062E6F; 

  --secondary-btn-color: #131314;
  --secondary-btn-text-color: #C4C7C5;

  --background-color: #f5f5f5;
  --text-color: #E3E3E3;
  --stepper-container-color: #131314;

  --selected-background-color: #003355;
  --selected-step-background-color: #7FCFFF;

  --secondary-background-color: #C2E7FF;
  --secondary-step-background-color: #004A77;

  // checkbox colors
  --checkbox-color: #C4C7C5; 

  

  @include mat.all-component-themes($agent-smithy-kioskui-light-theme);
}

// Black
  // selected
  // text color - #003355
  // background color - #7FCFFF

  // Not Selected
  // text color - #C2E7FF
  // background color - #004A77

.light-theme {
  --body-background-color: #FFFFFF;
  --primary-btn-color: #0B57D0;
  --primary-btn-text-color: #FFFFFF;
  --secondary-btn-color:   #FFFFFF;
  --secondary-btn-text-color: #C4C7C5;
  --background-color: #FFFFFF;
  --text-color: #1F1F1F;

  --secondary-background-color: #00639B;
  --stepper-container-color: #FFFFFF;

  --secondary-step-background-color: #C2E7FF;

  --selected-step-background-color: white;

  @include mat.all-component-themes($agent-smithy-kioskui-light-theme);
}

.dark-theme {
  --body-background-color: #131314;

  --primary-btn-color: #A8C7FA;
  --primary-btn-text-color: #062E6F; 

  --secondary-btn-color: #131314;
  --secondary-btn-text-color: #C4C7C5;

  --background-color: #f5f5f5;
  --text-color: #E3E3E3;

  --secondary-background-color: #C2E7FF;
  --stepper-container-color: #131314;

  --secondary-step-background-color: #004A77;

  --selected-step-background-color: #7FCFFF;

  @include mat.all-component-themes($agent-smithy-kioskui-light-theme);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 10px auto;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--body-background-color);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input, button {
  font-family: inherit;
}

