
.root-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.width-container {
    // max-width: 1280px;
}

.container {
    background: linear-gradient(271.58deg, rgb(55 158 183 / 38%) 38%, rgba(140, 140, 156, 0.15) 92.45%);;
    display: flex;
    padding: 2%;
    padding-bottom: 0;
    width: 100%;

    .image-container {
        display: flex;
        flex-direction: row;
        width: 55%;
        justify-content: center;

        .cat-image {
            align-self: flex-end;
            padding-bottom: 3%;
        }

        .people-image {
            margin-bottom: -5%;
        }

    }

    .title-container {
        width: 45%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        padding-bottom: 2%;


        .title-text-container,
        .title-button-container {
            display: flex;
            width: 100%;
            justify-content: center;
            text-align: center;
            padding-top: 2%;
            padding-bottom: 2%;
        }

        .title {
            font-family: 'Roboto';
            font-style: normal;
            font-size: 40px;
            line-height: 132%;
            text-align: center;
            color: #2d2c2cbf;
        }

        button {
            width: 25%;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.4px;
            color: #FFFFFF;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 24px 21px;
            background: #4285F4;
            border: 1px solid #4285F4;
            border-radius: 40px;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;

        }
    }
}

.template-container {

    margin-top: 6rem;
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgba(236, 243, 254, 0.6);
    padding: 1%;

    .template-section {
    }

    .template-heading {
        width: 100%;
        justify-content: flex-start;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 128.7%;
        color: rgba(92, 95, 97, 0.6);
    }

    .templates {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1%;
        padding-top: 0.5rem;
    }

    .new-template-container {
        position: relative;
        border-radius: 21px;
        background: white;
    }

    .new-template-container img {
        height: 245px;
        width: 333px;
        display: block;
        border: 8px solid #F0F4F9;
        border-radius: 21px;
    }

    .new-template-container:hover {
        border-radius: 21px;
        cursor: pointer;
        outline:3px solid #4285F4;
    }

    .disable-container {
        position: relative;
        border-radius: 21px;
        background: white;
    }

    .disable-container img {
        height: 245px;
        width: 333px;
        display: block;
        border: 8px solid #F0F4F9;
        border-radius: 21px;
    }

    .template-context {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        color: #4285F4;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2%;
        padding-top: 8px;
    }

    .bottom-center {
        position: absolute;
        bottom: 50px;
        justify-content: center;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 202%;
        text-align: center;
        color: #1F1F1F;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
}

.logo-text {
    font-family: Google Sans,Helvetica Neue,sans-serif;
    font-style:normal;
    color: #2d2c2cbf;
}

.gradient-text {
    font-family: Google Sans,Helvetica Neue,sans-serif;
    background: linear-gradient(89.9deg, rgba(66, 133, 244, 0.95) 21.17%, #A488F5 44.34%, rgba(234, 67, 53, 0.88) 81.26%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.add {
    font-size: 20px !important;
}