# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

.venv
venv/

.streamlit_chats/
.persist_vector_store

# Terraform files
.terraform.lock.hcl
.terraform/
terraform.tfstate
terraform.tfstate.backup
