<div class="outer-container">
    <form [formGroup]="formGroup">
        <mat-stepper formArrayName="formArray" labelPosition="bottom" #stepper>

            <mat-step formGroupName="0" [stepControl]="formArray?.get([0])!">
                <div class="heading">Agent Properties</div>
                <div class="agent-container stepper-container">
                    <mat-label class="label">Agent Name</mat-label>

                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Last name, First name" formControlName="agentName" required>
                    </mat-form-field>
                    <mat-label class="label">Agent Type</mat-label>
                    <mat-form-field appearance="outline">
                        <mat-select formControlName="agentType">
                            <mat-option value="option1">Option 1</mat-option>
                            <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                            <mat-option value="option3">Option 3</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-label class="label">Industry</mat-label>

                    <mat-form-field appearance="outline">
                        <mat-select formControlName="industry">
                            <mat-option value="option1">Option 1</mat-option>
                            <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                            <mat-option value="option3">Option 3</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="footer-container">
                    <button class="home" mat-fab extended (click)="goToHome()">
                        <mat-icon>home</mat-icon>
                        Home
                    </button>
                    <div class="button-container">
                        <button mat-fab extended matStepperNext>
                            <mat-icon>
                                arrow_forward
                            </mat-icon>
                            Next
                        </button>
                    </div>
                </div>

            </mat-step>



            <mat-step formGroupName="1" [stepControl]="formArray?.get([1])!">
                <div class="heading">Run time</div>

                <div class="stepper-container">
                    <div class="runtime-container">
                        <div class="option-selectors">
                            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                                <div [ngClass]="{'selected':selectedRuntime==='resoningEngine'}"
                                    (click)="selectRunTime('resoningEngine')" class="option-card">
                                    <span class="icon">
                                        <span class="material-symbols-outlined">
                                            {{selectedRuntime==='resoningEngine'?
                                            'task_alt': 'radio_button_unchecked'}}
                                        </span>
                                    </span>
                                    <span class="text">
                                        Vertex AI Reasoning Engine
                                    </span>
                                </div>
                                <div [ngClass]="{'selected':selectedRuntime==='cloudRun'}"
                                    (click)="selectRunTime('cloudRun')" class="option-card">
                                    <span class="icon">
                                        <span class="material-symbols-outlined">
                                            {{selectedRuntime==='cloudRun'?
                                            'task_alt': 'radio_button_unchecked'}}
                                        </span>
                                    </span>
                                    <span class="text">
                                        Cloud Run
                                    </span>
                                </div>
                            </mat-radio-group>
                        </div>
                        <div *ngIf="selectedRuntime==='resoningEngine'" class="option-response">
                            <span class="subtitle">Eget commodo enim sagittis eget. Leo volutpat ultricies ipsum
                                gravida. Egestas ac elementum leo nisl vitae lacus lectus. Metus venenatis dictum
                                ultrices gravida adipiscing turpis sit mi.</span>
                            <span class="caption">aiplatform.init(project="your-project-id", location="your-region") llm
                                = VertexAI(model_name="text-bisons001") agent = "Agent description here" remote_agent =
                                aiplatform.reasoning_engines.ReasoningEngine.create( agent=agent, requirements=[
                                "google-cloud-aiplatform[langchain,reasoningengine]", "cloudpickle==3.0.0",
                                "pydantic==2.7.4", "langchain-google-community", "google-cloud-discoveryengine", ],
                                )</span>
                        </div>
                        <div *ngIf="selectedRuntime==='cloudRun'" class="option-response">
                            <span class="subtitle">Varius diam quisque in nibh sit massa turpis. Lectus nulla tempus in
                                sed ut nibh ante sed nisl. Mauris non condimentum magna posuere sollicitudin sed mattis
                                porta. Quis sit nulla ultricies aliquet integer et. Tortor quisque blandit non
                                vitae.</span>
                            <span class="caption">aiplatform.init(project="your-project-id", location="your-region") llm
                                = VertexAI(model_name="text-bisons001") agent = "Agent description here" remote_agent =
                                aiplatform.reasoning_engines.ReasoningEngine.create( agent=agent, requirements=[
                                "google-cloud-aiplatform[langchain,reasoningengine]", "cloudpickle==3.0.0",
                                "pydantic==2.7.4", "langchain-google-community", "google-cloud-discoveryengine", ],
                                )</span>
                        </div>
                    </div>

                </div>
                <div class="footer-container">
                    <button class="home" mat-fab extended (click)="goToHome()">
                        <mat-icon>home</mat-icon>
                        Home
                    </button>
                    <div class="button-container">
                        <button class="backward" mat-fab extended matStepperPrevious>
                            <mat-icon>
                                arrow_back
                            </mat-icon>
                            Back
                        </button>
                        <button mat-fab extended matStepperNext>
                            <mat-icon>
                                arrow_forward
                            </mat-icon>
                            Next
                        </button>
                    </div>
                </div>


            </mat-step>

            <mat-step formGroupName="2" [stepControl]="formArray?.get([2])!">
                <div class="heading">Orchestration Framework</div>

                <div class="stepper-container">
                    <div class="runtime-container">
                        <div class="option-selectors">
                            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                                <div [ngClass]="{'selected':selectedFramework==='langchain'}"
                                    (click)="selectFramework('langchain')" class="option-card">
                                    <span class="icon">
                                        <span class="material-symbols-outlined">
                                            {{selectedFramework==='langchain'?
                                            'task_alt': 'radio_button_unchecked'}}
                                        </span>
                                    </span>
                                    <span class="text">
                                        Langchain/Langgraph
                                    </span>
                                </div>
                                <div [ngClass]="{'selected':selectedFramework==='liamaIndex'}"
                                    (click)="selectFramework('liamaIndex')" class="option-card">
                                    <span class="icon">
                                        <span class="material-symbols-outlined">
                                            {{selectedFramework==='liamaIndex'?
                                            'task_alt': 'radio_button_unchecked'}}
                                        </span>
                                    </span>
                                    <span class="text">
                                        LlamaIndex
                                    </span>
                                </div>

                                <div [ngClass]="{'selected':selectedFramework==='vertexAgent'}"
                                    (click)="selectFramework('vertexAgent')" class="option-card">
                                    <span class="icon">
                                        <span class="material-symbols-outlined">
                                            {{selectedFramework==='vertexAgent'?
                                            'task_alt': 'radio_button_unchecked'}}
                                        </span>
                                    </span>
                                    <span class="text">
                                        Vertex Agent Framework
                                    </span>
                                </div>
                            </mat-radio-group>
                        </div>

                        <div *ngIf="selectedFramework==='langchain'" class="option-response">
                            <span class="subtitle">Nullam sed mattis purus egestas. Turpis diam nisi purus ligula. Etiam
                                faucibus est aliquam turpis ut enim. Cursus dignissim sed iaculis tincidunt facilisis.
                                Commodo purus nullam nisi bibendum a. In arcu eget mauris auctor dictum tellus
                                ultrices.</span>
                            <span class="caption">aiplatform.init(project="your-project-id", location="your-region") llm
                                = VertexAI(model_name="text-bison") agent = "Agent description here" remote_agent =
                                aiplatform.reasoning_engines.ReasoningEngine.create( agent=agent, requirements=[
                                "google-cloud-aiplatform[langchain,reasoningengine]", "cloudpickle==3.0.0",
                                "pydantic==2.7.4", "langchain-google-community", "google-cloud-discoveryengine", ],
                                )</span>
                        </div>
                        <div *ngIf="selectedFramework==='liamaIndex'" class="option-response">
                            <span class="subtitle">Sed amet convallis hendrerit nulla feugiat metus. Tincidunt fames
                                enim dolor orci. Luctus et quis feugiat nisl vel lacus. Diam malesuada accumsan massa id
                                urna eget dictum pretium vestibulum. Viverra lobortis quis sodales libero.</span>
                            <span class="caption">aiplatform.init(project="your-project-id", location="your-region") llm
                                = VertexAI(model_name="text-bison") agent = "Agent description here" remote_agent =
                                aiplatform.reasoning_engines.ReasoningEngine.create( agent=agent, requirements=[
                                "google-cloud-aiplatform[langchain,reasoningengine]", "cloudpickle==3.0.0",
                                "pydantic==2.7.4", "langchain-google-community", "google-cloud-discoveryengine", ],
                                )</span>
                        </div>
                        <div *ngIf="selectedFramework==='vertexAgent'" class="option-response">
                            <span class="subtitle">Enim aliquet pharetra rutrum faucibus. Ipsum diam suspendisse dolor
                                tincidunt sit sodales tortor. Consectetur lacus nisl pretium donec at. Volutpat nulla
                                etiam sed ut pellentesque. Lectus condimentum velit eu sed. Facilisi.</span>
                            <span class="caption">aiplatform.init(project="your-project-id", location="your-region") llm
                                = VertexAI(model_name="text-bison") agent = "Agent description here" remote_agent =
                                aiplatform.reasoning_engines.ReasoningEngine.create( agent=agent, requirements=[
                                "google-cloud-aiplatform[langchain,reasoningengine]", "cloudpickle==3.0.0",
                                "pydantic==2.7.4", "langchain-google-community", "google-cloud-discoveryengine", ],
                                )</span>
                        </div>
                    </div>
                </div>
                <div class="footer-container">
                    <button class="home" mat-fab extended (click)="goToHome()">
                        <mat-icon>home</mat-icon>
                        Home
                    </button>
                    <div class="button-container">
                        <button class="backward" mat-fab extended matStepperPrevious>
                            <mat-icon>
                                arrow_back
                            </mat-icon>
                            Back
                        </button>
                        <button mat-fab extended matStepperNext>
                            <mat-icon>
                                arrow_forward
                            </mat-icon>
                            Next
                        </button>
                    </div>
                </div>
            </mat-step>

            <mat-step formGroupName="3" [stepControl]="formArray?.get([3])!">
                <div class="heading">Tools</div>

                <div class="stepper-container">
                    <div class="runtime-container">
                        <div class="option-selectors">
                            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                                <div [ngClass]="{'selected':selectedTools==='api'}"
                                    (click)="selectTools('api')" class="option-card">
                                    <span class="icon">
                                        <span class="material-symbols-outlined">
                                            {{selectedTools==='api'?
                                            'task_alt': 'radio_button_unchecked'}}
                                        </span>
                                    </span>
                                    <span class="text">
                                        API
                                    </span>
                                </div>
                                <div [ngClass]="{'selected':selectedTools==='preBuildTool'}"
                                    (click)="selectTools('preBuildTool')" class="option-card">
                                    <span class="icon">
                                        <span class="material-symbols-outlined">
                                            {{selectedTools==='preBuildTool'?
                                            'task_alt': 'radio_button_unchecked'}}
                                        </span>
                                    </span>
                                    <span class="text">
                                        Pre-build Tool
                                    </span>
                                </div>

                                <div [ngClass]="{'selected':selectedTools==='tbd'}" (click)="selectTools('tbd')"
                                    class="option-card">
                                    <span class="icon">
                                        <span class="material-symbols-outlined">
                                            {{selectedTools==='tbd'?
                                            'task_alt': 'radio_button_unchecked'}}
                                        </span>
                                    </span>
                                    <span class="text">
                                        TBD
                                    </span>
                                </div>
                            </mat-radio-group>
                        </div>
                        <div *ngIf="selectedTools==='api'" class="option-response">
                            <span class="subtitle">Nullam sed mattis purus egestas. Turpis diam nisi purus ligula. Etiam
                                faucibus est aliquam turpis ut enim. Cursus dignissim sed iaculis tincidunt facilisis.
                                Commodo purus nullam nisi bibendum a. In arcu eget mauris auctor dictum tellus
                                ultrices.</span>
                            <span class="caption">aiplatform.init(project="your-project-id", location="your-region") llm
                                = VertexAI(model_name="text-bison") agent = "Agent description here" remote_agent =
                                aiplatform.reasoning_engines.ReasoningEngine.create( agent=agent, requirements=[
                                "google-cloud-aiplatform[langchain,reasoningengine]", "cloudpickle==3.0.0",
                                "pydantic==2.7.4", "langchain-google-community", "google-cloud-discoveryengine", ],
                                )</span>
                        </div>
                        <div *ngIf="selectedTools==='preBuildTool'" class="option-response">
                            <span class="subtitle">Sed amet convallis hendrerit nulla feugiat metus. Tincidunt fames
                                enim dolor orci. Luctus et quis feugiat nisl vel lacus. Diam malesuada accumsan massa id
                                urna eget dictum pretium vestibulum. Viverra lobortis quis sodales libero.</span>
                            <span class="caption">aiplatform.init(project="your-project-id", location="your-region") llm
                                = VertexAI(model_name="text-bison") agent = "Agent description here" remote_agent =
                                aiplatform.reasoning_engines.ReasoningEngine.create( agent=agent, requirements=[
                                "google-cloud-aiplatform[langchain,reasoningengine]", "cloudpickle==3.0.0",
                                "pydantic==2.7.4", "langchain-google-community", "google-cloud-discoveryengine", ],
                                )</span>
                        </div>
                        <div *ngIf="selectedTools==='tbd'" class="option-response">
                            <span class="subtitle">Enim aliquet pharetra rutrum faucibus. Ipsum diam suspendisse dolor
                                tincidunt sit sodales tortor. Consectetur lacus nisl pretium donec at. Volutpat nulla
                                etiam sed ut pellentesque. Lectus condimentum velit eu sed. Facilisi.</span>
                            <span class="caption">aiplatform.init(project="your-project-id", location="your-region") llm
                                = VertexAI(model_name="text-bison") agent = "Agent description here" remote_agent =
                                aiplatform.reasoning_engines.ReasoningEngine.create( agent=agent, requirements=[
                                "google-cloud-aiplatform[langchain,reasoningengine]", "cloudpickle==3.0.0",
                                "pydantic==2.7.4", "langchain-google-community", "google-cloud-discoveryengine", ],
                                )</span>
                        </div>
                    </div>
                </div>
                <div class="footer-container">
                    <button class="home" mat-fab extended (click)="goToHome()">
                        <mat-icon>home</mat-icon>
                        Home
                    </button>
                    <div class="button-container">
                        <button class="backward" mat-fab extended matStepperPrevious>
                            <mat-icon>
                                arrow_back
                            </mat-icon>
                            Back
                        </button>
                        <button mat-fab extended matStepperNext>
                            <mat-icon>
                                arrow_forward
                            </mat-icon>
                            Next
                        </button>
                    </div>
                </div>
            </mat-step>


            <mat-step formGroupName="4" [stepControl]="formArray?.get([4])!">
                <div class="heading">Model</div>

                <div class="stepper-container">
                    <div class="runtime-container">
                        <div class="option-selectors">
                            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                                <div [ngClass]="{'selected':selectedModel==='gemini'}"
                                    (click)="selectModel('gemini')" class="option-card">
                                    <span class="icon">
                                        <span class="material-symbols-outlined">
                                            {{selectedModel==='gemini'?
                                            'task_alt': 'radio_button_unchecked'}}
                                        </span>
                                    </span>
                                    <span class="text">
                                        Gemini
                                    </span>
                                </div>
                                <div [ngClass]="{'selected':selectedTools==='claude'}"
                                    (click)="selectModel('claude')" class="option-card">
                                    <span class="icon">
                                        <span class="material-symbols-outlined">
                                            {{selectedTools==='claude'?
                                            'task_alt': 'radio_button_unchecked'}}
                                        </span>
                                    </span>
                                    <span class="text">
                                        Claude (Model Garden)
                                    </span>
                                </div>
                            </mat-radio-group>
                        </div>
                        <div *ngIf="selectedModel==='gemini'" class="option-response">
                            <span class="subtitle">Nullam sed mattis purus egestas. Turpis diam nisi purus ligula. Etiam
                                faucibus est aliquam turpis ut enim. Cursus dignissim sed iaculis tincidunt facilisis.
                                Commodo purus nullam nisi bibendum a. In arcu eget mauris auctor dictum tellus
                                ultrices.</span>
                            <span class="caption">aiplatform.init(project="your-project-id", location="your-region") llm
                                = VertexAI(model_name="text-bison") agent = "Agent description here" remote_agent =
                                aiplatform.reasoning_engines.ReasoningEngine.create( agent=agent, requirements=[
                                "google-cloud-aiplatform[langchain,reasoningengine]", "cloudpickle==3.0.0",
                                "pydantic==2.7.4", "langchain-google-community", "google-cloud-discoveryengine", ],
                                )</span>
                        </div>
                        <div *ngIf="selectedModel==='claude'" class="option-response">
                            <span class="subtitle">Sed amet convallis hendrerit nulla feugiat metus. Tincidunt fames
                                enim dolor orci. Luctus et quis feugiat nisl vel lacus. Diam malesuada accumsan massa id
                                urna eget dictum pretium vestibulum. Viverra lobortis quis sodales libero.</span>
                            <span class="caption">aiplatform.init(project="your-project-id", location="your-region") llm
                                = VertexAI(model_name="text-bison") agent = "Agent description here" remote_agent =
                                aiplatform.reasoning_engines.ReasoningEngine.create( agent=agent, requirements=[
                                "google-cloud-aiplatform[langchain,reasoningengine]", "cloudpickle==3.0.0",
                                "pydantic==2.7.4", "langchain-google-community", "google-cloud-discoveryengine", ],
                                )</span>
                        </div>
                    </div>
                </div>
                <div class="footer-container">
                    <button class="home" mat-fab extended (click)="goToHome()">
                        <mat-icon>home</mat-icon>
                        Home
                    </button>
                    <div class="button-container">
                        <button class="backward" mat-fab extended matStepperPrevious>
                            <mat-icon>
                                arrow_back
                            </mat-icon>
                            Back
                        </button>
                        <button mat-fab extended matStepperNext>
                            <mat-icon>
                                arrow_forward
                            </mat-icon>
                            Next
                        </button>
                    </div>
                </div>


            </mat-step>



            <mat-step>
                <div class="stepper-container">
                    <!-- <ng-template matStepLabel>Done</ng-template> -->
                    <p>You are now done.</p>

                </div>
                <div class="footer-container">
                    <button class="home" mat-fab extended (click)="goToHome()">
                        <mat-icon>home</mat-icon>
                        Home
                    </button>
                    <div class="button-container">
                        <button class="backward" mat-fab extended matStepperPrevious>
                            <mat-icon>
                                arrow_back
                            </mat-icon>
                            Back
                        </button>
                    </div>
                    <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
                </div>
            </mat-step>
            <ng-template matStepperIcon="edit" let-index="index">
                {{index +1}}
            </ng-template>
            <ng-template matStepperIcon="done" let-index="index">
                {{index +1}}
            </ng-template>

        </mat-stepper>
    </form>

</div>