<div class="root-container">
    <div class="image-container">
        <h3>Register via QR Code</h3>
        <div class="logo-image"></div>
    </div>
    <div class="header-container">
        <h3>Download Agent Artifacts</h3>
        <p class="text-container">
            Placerat morbi varius interdum adipiscing semper facilisis maecenas viverra tellus. Amet pellentesque a viverra ultrices urna. Massa semper pulvinar sem volutpat quis enim in est. Elementum ac tortor consequat vel id cursus. Ac id in tortor gravida facilisi nibh. Condimentum vulputate ligula imperdiet non commodo diam. Mauris at aliquam enim nunc mi arcu.
Nunc amet et vitae sapien eget non. 
        </p>
    </div>
        <div class="buttons-container">
            <div class="buttons">
                <button class="export-btn" (click)="export()"><mat-icon class="add">file_export</mat-icon> Export</button>
                <button class="start-again-btn" (click)="startAgain()"><mat-icon class="add">settings_backup_restore</mat-icon> Start Again!</button>
            </div>
        </div>
</div>

